@model DkpWeb.Models.MyDebtModel

@{
    var title = Model.Person.ToString() + "'s debt";
    ViewBag.Title = title;

    //these conditions are supposed to be different
    string overviewFontColor = Model.OverallDebt <= 0 ? "green" : "red";
    string debtName = Model.OverallDebt < 0 ? "are owed" : "owe";
}

<h2>@title</h2>

<p>
    Overall, you
    <span style="color: @overviewFontColor; font-weight: bold; font-size: larger;">
        @debtName
        @Math.Abs(Model.OverallDebt / 100d).ToString("C")
    </span>
</p>

@if (Model.Creditors.Count == 0)
{
    <p>You probably have no debts to people in the system.</p>
}
else
{

    <img src="data:image/png;base64,@Model.ImageBase64" />
    
    <h3>Who you owe and and why?</h3>
    <p>A number in parentheses means you are owed money.</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Why?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var debt in Model.Creditors)
            {
                <tr>
                    <td>@debt.Item1.ToString()</td>
                    <td>@((debt.Item2 / 100d).ToString("C"))</td>
                    <td>@Html.ActionLink("Why?", "DebtHistory", new { debtorId = Model.Person.ID, creditorId = debt.Item1.ID })</td>
                </tr>
            }
        </tbody>
    </table>

}