@using DkpWeb.Models.PeopleViewModels
@using Austin.DkpLib
@model AddPaymentMethodModel

@{
    var methods = (IEnumerable<PaymentMethod>)ViewBag.Methods;
    var person = (Person)ViewBag.Person;
    ViewBag.Title = "Add Payment Identity";
}

<h2>Add Payment Idenity for @person</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Payment identity creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>New Payment Identity</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.PaymentMethodId)
            </div>
            <div class="editor-field">
                <select name="PaymentMethodId" id="PaymentMethodId">
                    @foreach (PaymentMethod p in methods)
                    {
                        <option id="@p.Id" value="@p.Id">@p.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(m => m.PaymentMethodId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <p>
                <input type="submit" value="Add" class="btn btn-default" />
            </p>
        </fieldset>
    </div>
}