@model DkpWeb.Models.MyDebtViewModels.MyDebtModel

@{
    var title = Model.Person.ToString() + "'s debt";
    ViewBag.Title = title;

    //these conditions are supposed to be different
    string overviewFontColor = Model.OverallDebt <= Money.Zero ? "green" : "red";
    string debtName = Model.OverallDebt < Money.Zero ? "are owed" : "owe";
}

<h2>@title</h2>

<p>
    Overall, you
    <span style="color: @overviewFontColor; font-weight: bold; font-size: larger;">
        @debtName
        @Model.OverallDebt
    </span>
</p>

@if (Model.Creditors.Count == 0)
{
    <p>You have no debts to people in the system.</p>
}
else
{
    @Model.ImageSvg

    <h3>Who you owe and why?</h3>
    <p>A number in parentheses means you are owed money.</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Why?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var debt in Model.Creditors)
            {
                <tr>
                    <td>@debt.Item1.ToString()</td>
                    <td>@debt.Item2</td>
                    <td>@Html.ActionLink("Why?", "DebtHistory", new { debtorId = Model.Person.Id, creditorId = debt.Item1.Id })</td>
                </tr>
            }
        </tbody>
    </table>

}