@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Version Info</h3>

<ul>
    <li>Git commit: @Program.GitCommitHash</li>
    <li>.NET: @Environment.Version</li>
    <li>Process Architecture: @System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture</li>
    <li>CorLib location: @typeof(object).Assembly.Location</li>
    <li>Entry Location: @System.Reflection.Assembly.GetEntryAssembly().Location</li>
</ul>

Now with 500% more .NET 6!
