@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    <li>Git commit: @Program.GitCommitHash</li>
    <li>.NET Core @Environment.Version</li>
    <li>IntPtr.Size: @IntPtr.Size</li>
    <li>CorLib location: @typeof(object).Assembly.Location</li>
    <li>Entry Location: @System.Reflection.Assembly.GetEntryAssembly().Location</li>
</ul>

Now with 300% more .NET 6!
