@model Austin.DkpLib.Transaction
@{
    ViewBag.Title = "View Transaction";
}
<h2>Transaction: @Model.Description</h2>

<table>
    <tr>
        <th>Creditor</th>
        <td>@Html.ActionLink(Model.Creditor.ToString(), "Detail", "People", new { id = Model.CreditorID }, null)</td>
    </tr>
    <tr>
        <th>Debtor</th>
        <td>@Html.ActionLink(Model.Debtor.ToString(), "Detail", "People", new { id = Model.DebtorID }, null)</td>
    </tr>
    <tr>
        <th>Amount</th>
        <td>@((Model.Amount / 100d).ToString("C"))</td>
    </tr>
    <tr>
        <th>Bill Split</th>
        @if (Model.BillID.HasValue)
        {
            <td>@Html.ActionLink("View Details", "Details", "BillSplit", new { id = @Model.BillID.Value }, null)</td>
        }
        else
        {
            <td>None</td>
        }
    </tr>
    <tr>
        <th>Created</th>
        <td>@Html.AdjustDate(Model.Created)</td>
    </tr>
</table>
@if (Startup.IsUserInRole("Admin"))
{
    using (Html.BeginForm("Delete", "Transaction", new { id = @Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input id="submit" type="submit" value="Delete" />
    }
}