@using DkpWeb.Models.MyDebtViewModels
@model PaymentLinksModel

<ul>
    @foreach (var ident in Model.Target.PaymentIdentity)
    {
        if (Model.Type == PaymentLinkType.Payment && ident.PaymentMeth.HasPayLink)
        {
            <li>
                <a href="@ident.CreatePayLink(Model.AmountCents)">
                    Send payment to @Model.Target with @ident.PaymentMeth.Name
                </a>
            </li>
        }
        if (Model.Type == PaymentLinkType.Request && ident.PaymentMeth.HasRequestMoneyLink)
        {
            <li>
                <a href="@ident.CreateRequestMoneyLink(Model.AmountCents)">
                    Request repayment from @Model.Target with @ident.PaymentMeth.Name
                </a>
            </li>
        }
    }
</ul>