@model DkpWeb.Models.NewTransactionModel

@{
    ViewBag.Title = "Add";
}

<h2>Add a transaction</h2>
<p>Add a single transction below.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Transaction creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>New Transaction</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.Amount)
            </div>
            <div class="editor-field">
                $@Html.TextBoxFor(m => m.Amount)
                @Html.ValidationMessageFor(m => m.Amount)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Debtor)
            </div>
            <div class="editor-field">
                <select asp-for="Debtor" asp-items="@(new SelectList(ViewBag.People, "Id", "FullName"))">
                    <option value="0">-select someone-</option>
                </select>
                @Html.ValidationMessageFor(m => m.Debtor)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Creditor)
            </div>
            <div class="editor-field">
                <select asp-for="Creditor" asp-items="@(new SelectList(ViewBag.People, "Id", "FullName"))">
                    <option value="0">-select someone-</option>
                </select>
                @Html.ValidationMessageFor(m => m.Creditor)
            </div>

            <p>
                <input type="submit" value="Add" class="btn btn-default" />
            </p>
        </fieldset>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
